header {
 background-image: url(./header.jpg)
}
header img {
  display: block;
  /* width: 150px; */
  /* height: 150px; */
  margin: auto;
}
mat-grid-tile {
  background: whitesmoke;
}
mat-card{
  background: rgb(1, 155, 202);
}
.formulario2{
  border: 3px black solid;
}


.style_1{
  cursor: pointer;
}
.style_2{
   border: 3px black solid;
   cursor: pointer;
}
.button{
  background-color: aqua;
  cursor: alias;
}
.button2{
  background-color: red;
  cursor: alias;
}
